*
!.gitignore
!*.md

!/!task
!/!task/*.odp
!/!task/*.pdf

!/model
/model/*
!/model/.gitkeep
!/model/*.py

!/scripts
!/scripts/*.tcl
!/scripts/*.sh

!/src
!/src/core
!/src/core/*.sv
!/src/tb
!/src/tb/*.sv
!/src/ip
!/src/ip/.gitkeep
