*
!.gitignore
!/*.odp
!/*.pdf
!/src/
!/src/*.sv
!/src/*.tcl
!/src/*.sh
!/exercises
!/exercises/*.sv
!/exercises/*.txt
!/exercises_solved/
!/exercises_solved/*.sv
!/exercises_solved/*.svh
!/exercises_solved/*.txt
!/exercises_solved/*.pdf
